@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: Arial, sans-serif;
    background: url(templates/footer.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Kufam", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1,
h2 {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    margin-bottom: 0;
    color: #333;
    font-size: 120px;
}

p {
    margin-bottom: 10px;
}

.login-link {
    margin-top: 20px;
}

footer {
    position: fixed;
    /* Adjust the height based on your needs */
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer-content {
    /* Optional: add overlay to enhance text readability */
    color: white;
    padding: 20px;
    text-align: center;
}

.invite {
    background-color: black;
    color: white;
    border: 2px solid rgb(9, 214, 9);
    padding: 15px;
    font-size: medium;
    box-shadow: 5px 5px 0px 0px #000, 7px 7px 0px 0px rgb(9, 214, 9);
    transition: 0.5s;
}

.invite:hover {
    box-shadow: 0px 0px 0px 0px black;
    cursor: pointer;
    transition: 0.5s;
}

.project-container {
    width: 95%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: transparent;
    padding: 10px;
}

.project-container > div {
    background-color: var(--glassbg);
    text-align: center;
    padding: 20px 10px;
    font-size: 30px;
    border-radius: 5px;
  }
.skills-container {
    width: 95%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: transparent;
    padding: 10px;
}

.skills-container > div {
    background-color: transparent;
    text-align: center;
    padding: 20px 10px;
    font-size: 30px;
    border-radius: 5px;
  }

  .project-1::before {
    width: 50%;
    height: 50%;
    background-color: red;
  }